:root{
    --primary: #701ac0;
    --primary-light: #9641e5;
    --primary-dark: #49117d;
    --background: #e2e2e2;
    --background-dark: #0a0a0a;
    --text: #3b3b3b;
    --white: #FFF;
}
::-webkit-scrollbar {
    display: none;
}
body{
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--background);
    font-family:sans-serif;
}
body, ul, li, section, figure, img, header,h1,h2{
    margin: 0;
    padding: 0;
}
section, main{
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}

#header{
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 16px;
    margin:0;
}
.navbar ul{
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    background-color: var(--primary);
    width: 70%;
    z-index: 2;
    padding: 32px;
    text-align: center;
    box-shadow: 0 5px 5px var(--background-dark);
    height: 100%;
    padding: 0;
}
.icon{
    position: absolute;
    right: 16px;
    top: 16px;
}

#galery ul {
    margin: 24px 0;
    display: grid;
    grid-template-columns: auto;
    gap: 2%;
}
.title img{
    height: 32px;
    width: 32px;
    margin-right: 16px;
}
.title img, .title h1{
    display: inline;
    line-height: 32px;
}
.title h1{
    visibility: hidden;
}

.visible ul {
    display: block !important;
}
li {
    list-style: none;
    width: 100%;
    padding: 24px 0;
}
.navbar ul li:hover{
    background-color: var(--primary-dark);
}
figure{
    width: 100%;
    height: 400px;
}
figure img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    #galery ul{
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 900px){
    #galery ul{
        grid-template-columns: repeat(3, auto);
    }
    .icon{
        display: none;
    }
    .navbar{
        flex-basis: 30%;
    }
    .navbar ul{
        display: flex;
        justify-content: space-around;    
        position: inherit;
        box-shadow: none;
        height: fit-content;   
        padding: 0;    
    }
    li {
        padding: 16px;
        height: 100%;
    }
    .title   h1 {
        visibility: visible;
    }
}